<template>
  <v-data-iterator :items="items" hide-default-footer :items-per-page="12">
    <template v-slot:header>
      <v-toolbar color="blue-grey lighten-1" dark flat>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon :to="{ name: createLink }">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-toolbar>
    </template>
    <template v-slot:default="props">
      <v-row>
        <v-col v-for="item in props.items" :key="item.id" cols="12" sm="6" md="4" lg="3" >
          <v-card>
            <v-card-title class="subheading font-weight-bold d-flex justify-space-between">
              <div>{{ item.name }}</div>
              <v-btn icon color="primary" class="pl-3" :to="{ name: editLink, params: { sid: '' + item.id } }">
                <v-icon left>mdi-pencil</v-icon>
              </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense>
              <v-list-item v-for="value in item.values" :key="value.label">
                <v-list-item-content>{{ value.label }}</v-list-item-content>
                <v-list-item-content class="align-end">{{ value.value }}</v-list-item-content>
              </v-list-item>
            </v-list>
            <slot></slot>
          </v-card>
        </v-col>
      </v-row>
    </template>
    <template v-slot:footer v-if="length > 1">
      <v-pagination v-model="page" :length="length" @input="onInput"></v-pagination>
    </template>
  </v-data-iterator>
</template>

<script>
export default {
  name: 'DataList',
  props: {
    title: {
      type: String,
    },
    items: {
      type: Array,
      default: () => [],
    },
    total: {
      type: Number,
      default: 0,
    },
    createLink: {
      type: String,
    },
    editLink: {
      type: String,
    },
  },
  computed: {
    length() {
      return Math.floor(this.total / 12) + 1;
    },
  },
  data() {
    return {
      page: 1
    };
  },
  methods: {
    onInput(page) {
      this.$emit('input', page);
    },
  },
}
</script>

<style scoped></style>
