<template>
  <v-card tile>
    <v-card-title>Questions</v-card-title>
    <v-card-text>
      <v-list class="overflow-y-auto">
        <v-list-item v-for="item in questions" :key="item.id">
          <v-list-item-content>
            {{ item.user }}
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon>mdi-play</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'QuestionList',
  data() {
    return {
      questions: [],
    };
  },
}
</script>

<style scoped></style>

