<template>
  <v-btn-toggle v-model="controls" multiple v-if="isAuthenticated">
    <v-btn @click="toggleMicrophone">
      <v-icon>{{ microphoneIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Microphone</span>
    </v-btn>
    <v-btn @click="toggleCamera">
      <v-icon>{{ cameraIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Camera</span>
    </v-btn>
    <v-btn>
      <v-icon>mdi-comment-question</v-icon>
      <span class="hidden-sm-and-down"> Question</span>
    </v-btn>
  </v-btn-toggle>
</template>

<script>
import Api from '@/utils/api.js';

export default {
  name: 'WebRtcControls',
  props: {
    confRoom: {
      type: Object
    },
  },
  data() {
    return {
      controls: [0, 1],
      microphoneIcon: 'mdi-microphone-off',
      cameraIcon: 'mdi-video-off',
      handles: {},
      janus: null,
      private_id: '',
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    room() {
      return this.confRoom.webrtc_channel;
    },
  },
  methods: {
    toggleMicrophone: function() {
      if (this.controls.includes(0)) {
        this.microphoneIcon = "mdi-microphone";
        if (this.handles.streaming) {
          this.handles.streaming.unmuteAudio();
        }
      } else {
        this.microphoneIcon = "mdi-microphone-off";
        if (this.handles.streaming) {
          this.handles.streaming.muteAudio();
        }
      }
    },
    toggleCamera: function() {
      if (this.controls.includes(1)) {
        this.cameraIcon = "mdi-video";
        if (this.handles.streaming) {
          this.handles.streaming.unmuteVideo();
        }
      } else {
        this.cameraIcon = "mdi-video-off";
        if (this.handles.streaming) {
          this.handles.streaming.muteVideo();
        }
      }
    },
    handleError: function(error) {
      console.error(error);
      this.$emit('error', error);
    },
    handleWebRtcConnection: function(server, room) {
      const onJanusInit = this.onJanusInit;
      Janus.init({ // eslint-disable-line no-undef
        debug: ['debug', 'log', 'warn', 'error'],
        callback: () => {
          onJanusInit(server, room);
        },
      });
    },
    createWebRtcConnection: function() {
      const promise = new Promise((resolve, reject) => {
        const interval = setInterval(() => {
          if (this.$store.state.webrtcServer != '') {
            clearInterval(interval);
            resolve(this.$store.state.webrtcServer);
          }
        }, 200);
        setTimeout(() => {
          clearInterval(interval);
          reject(Error('Timeout retrieving WebRTC connection details from server'));
        }, 5000);
      });
      promise.then(server => {
        const onJanusInit = this.onJanusInit;
        Janus.init({ // eslint-disable-line no-undef
          debug: ['debug', 'log', 'warn', 'error'],
          callback: () => {
            onJanusInit(server, this.room);
          },
        });
      }).catch(this.handleError);
    },
    onJanusInit: function(server, room) {
      const root = this.$store.state.webrtcRoot;
      const wsroot = this.$store.state.webrtcWsRoot;
      const isAudioMuted = this.microphoneIcon === "mdi-microphone-off";
      const isVideoMuted = this.cameraIcon === "mdi-video-off";
      const user = this.$store.state.user();
      const wss_server = `wss://${server}${wsroot}`;
      const https_server = `https://${server}${root}`;
      let servers = [wss_server, https_server];
      if (window.location.protocol === 'http:') {
        const ws_server = `ws://${server}${wsroot}`;
        const http_server = `http://${server}${root}`;
        servers = [ws_server, http_server];
      }

      this.janus = new Janus({ // eslint-disable-line no-undef
        server: servers,
        iceServers: this.$store.state.webrtcIceServers,
        success: () => {
          this.janus.attach({
            plugin: 'janus.plugin.videoroom',
            success: pluginHandle => {
              this.handles.streaming = pluginHandle;
              console.log('Plugin attached!' + pluginHandle.getPlugin());
              const data = {
                  request: 'join',
                  ptype: 'publisher',
                  room: room,
                  display: 'anonymous',
              };
              if (this.isAuthenticated) {
                data.id = user.id;
                data.display = 'user';
              }
              this.handles.streaming.send({ message: data });
            },
            error: this.handleError,
            onmessage: (msg, jsep) => {
              if (jsep) {
                this.handles.streaming.handleRemoteJsep({ jsep: jsep });
              } else if (msg.videoroom === 'joined') {
                this.privateId = msg.private_id;
                this.onNewPublishers(room, msg.publishers);
                if (this.isAuthenticated) {
                  const data = {
                    request: 'publish',
                    audio: true,
                    video: true,
                    data: true,
                  };
                  this.handles.streaming.createOffer({
                    media: {
                      audioSend: this.isAuthenticated,
                      videoSend: this.isAuthenticated,
                    },
                    success: jsep => {
                      this.handles.streaming.send({
                        message: data,
                        jsep: jsep,
                      });
                      if (isAudioMuted) {
                        this.handles.streaming.muteAudio();
                      }
                      if (isVideoMuted) {
                        this.handles.streaming.muteVideo();
                      }
                    },
                    error: this.handleError,
                  });
                }
              } else if (msg.videoroom === 'event' && msg.publishers) {
                this.onNewPublishers(room, msg.publishers);
              } else if (msg.videoroom === 'event' && msg.unpublished) {
                const id = msg.unpublished;
                let index = -1;
                for (let i in this.handles) {
                  if (this.handles[i].rfid === id) {
                    index = i;
                  }
                }
                if (index > -1) {
                  this.handles[index].detach()
                  delete this.handles[index];
                  const videoElement = document.querySelector('#remote-video video');
                  videoElement.style.display = 'none';
                  const noVideoElement = document.querySelector('#remote-video div');
                  noVideoElement.style.display = 'block';
                }
              }
            },
            onlocalstream: stream => {
              if (this.isAuthenticated) {
                const videoElement = document.querySelector('#local-video video');
                videoElement.style.display = 'block';
                const noVideoElement = document.querySelector('#local-video div');
                noVideoElement.style.display = 'none';
                Janus.attachMediaStream(videoElement, stream); // eslint-disable-line no-undef
              }
            },
          });
        },
        error: this.handleError,
      });
    },
    onNewPublishers: function(room, publishers) {
      const api = new Api();
      api.room(this.confRoom.id).then(request => {
        const videoPublisher = request.data.active_webrtc_feed;
        let activeFeedFound = false;
        let backupPublisher = null;
        let moderator = null;
        for (let i in publishers) {
          const publisher = publishers[i];
          if (publisher.id === videoPublisher) {
            activeFeedFound = true;
          }
          switch (publisher.display) {
            case 'recorded-presenter':
              backupPublisher = publisher.id;
              break;
            case 'placeholder':
              if (backupPublisher === null) {
                backupPublisher = publisher.id;
              }
              break;
            case 'moderator':
              moderator = publisher.id;
              break;
          }
          if (moderator) {
            this.onJanusSubscribe(moderator, room);
          }
          if (activeFeedFound && videoPublisher) {
            this.onJanusSubscribe(videoPublisher, room);
          } else if (backupPublisher) {
            this.onJanusSubscribe(backupPublisher, room);
          }
        }
      }).catch(this.handleError);
    },
    onJanusSubscribe: function(id, room) {
      this.janus.attach({
        plugin: 'janus.plugin.videoroom',
        success: pluginHandle => {
          this.handles[id] = pluginHandle
          const data = {
            request: 'join',
            room: room,
            ptype: 'subscriber',
            feed: id,
            private_id: this.privateId,
          };
          pluginHandle.send({message: data});
        },
        onmessage: (msg, jsep) => {
          if (msg.videoroom === 'attached') {
            this.handles[id].rfid = msg.id;
          }
          if (jsep) {
            this.handles[id].createAnswer({
              jsep: jsep,
              media: {
                audioSend: false,
                videoSend: false,
                data: true,
              },
              success: jsep => {
                const body = {
                  request: 'start',
                  room: room,
                }
                this.handles[id].send({
                  message: body,
                  jsep: jsep,
                });
              },
            });
          }
        },
        onremotestream: stream => {
          this.handles[id].stream = stream;
          const videoElement = document.querySelector('#remote-video video');
          videoElement.style.display = 'block';
          const noVideoElement = document.querySelector('#remote-video div');
          noVideoElement.style.display = 'none';
          Janus.attachMediaStream(videoElement, stream); // eslint-disable-line no-undef
        },
        ondata: data => {
          if (data === 'ACTIVE_FEED_UPDATED') {
            const api = new Api();
            api.room(this.confRoom.id).then(response => {
              const feed = response.data.active_webrtc_feed;
              if (this.handles[feed]) {
                const videoElement = document.querySelector('#remote-video video');
                videoElement.style.display = 'block';
                const noVideoElement = document.querySelector('#remote-video div');
                noVideoElement.style.display = 'none';
                Janus.attachMediaStream(videoElement, this.handles[feed].stream); // eslint-disable-line no-undef
              } else {
                this.onJanusSubscribe(room, feed);
              }
            }).catch(this.handleError);
          }
        },
      });
    },
  },
  watch: {
    confRoom: function() {
      if (this.handles.streaming) {
        this.handles.streaming.send({
          message: {
            request: 'leave',
          }
        });
        // TODO: Not sure if this will actually reconnect to a difference room
        this.createWebRtcConnection();
      }
    }
  },
  mounted() {
    this.createWebRtcConnection();
  },
  beforeDestroy() {
    this.handles.streaming.send({
        message: {
          request: 'leave',
        }
    });
    if (this.janus) {
      this.janus.destroy();
    }
  }
}
</script>

<style scoped></style>
