<template>
  <div>
    <room-list @set-room="onSetRoom"></room-list>
    <v-container>
      <v-row>
        <v-col cols="12">
          <error-bar :error="error"></error-bar>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-md="2" md="4" cols="6">
          <web-rtc-video id="presenter-video"
                         class="video-window"
                         @click.left="setLive('presenter')"
          ></web-rtc-video>
          <div class="video-name">
            Presenter
          </div>
        </v-col>
        <v-col md="4" cols="6">
          <web-rtc-video id="server-video"
                         class="video-window"
                         @click.left="setLive('server')"
          ></web-rtc-video>
          <div class="video-name">
            Server
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-md="2" md="4" cols="6">
          <web-rtc-video id="moderator-video"
                         class="video-window"
                         @click.left="setLive('moderator')"
          ></web-rtc-video>
          <div class="video-name">
            Talk Meister
          </div>
        </v-col>
        <v-col md="4" cols="6">
          <web-rtc-video id="question-video"
                         class="video-window"
                         @click.left="setLive('question')"
          ></web-rtc-video>
          <div class="video-name">
            Questions
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col offset-md="2" md="4" cols="6">
          <recorded-content-list class="content-list"
                                 :content="recordedContent"></recorded-content-list>
        </v-col>
        <v-col md="4" cols="6">
          <question-list class="content-list"></question-list>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Api from '@/utils/api.js';
import ErrorBar from '@/components/ErrorBar';
import QuestionList from '@/components/QuestionList';
import RecordedContentList from '@/components/RecordedContentList';
import RoomList from '@/components/RoomList';
import WebRtcVideo from '@/components/WebRtcVideo';

export default {
  name: 'ModeratorHome',
  components: {
    ErrorBar,
    QuestionList,
    RecordedContentList,
    RoomList,
    WebRtcVideo,
  },
  data() {
    return {
      room: 0,
      error: '',
      activeElement: null,
      handles: {},
      janus: null,
      private_id: '',
      recordedContent: [],
    };
  },
  computed: {
    webrtcChannel() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].webrtc_channel;
      } else {
        return -1;
      }
    },
    roomId() {
      if (this.$store.state.rooms.length > this.room) {
        return this.$store.state.rooms[this.room].id;
      } else {
        return -1;
      }
    },
  },
  mounted() {
    if (!this.$store.getters.isStaff) {
      this.$router.push({ name: 'Home' });
    }
    const api = new Api();
    api.webrtcConfiguration().then(response => {
      if (response.data.jitsi_url) {
        this.$router.push({ name: 'Home' });
      }
    }).catch(this.handleError);
    this.getRecordedContent();
    this.createWebRtcConnection();
  },
  beforeDestroy() {
    this.handles.streaming.send({
        message: {
          request: 'leave',
        }
    });
    if (this.janus) {
      this.janus.destroy();
    }
  },
  methods: {
    onSetRoom(roomId) {
      this.room = roomId;
    },
    setLive(windowId) {
      let feedId = -1;
      for (let i in this.handles) {
        if (this.handles[i].videoDestination === windowId) {
          feedId = this.handles[i].rfid;
          break;
        }
      }
      if (feedId === -1) {
        this.handleError(Error('Active video feed not found in feed list'));
      } else {
        this.error = '';
        this.activeElement.classList.remove('active');
        this.activeElement = document.querySelector(`#${windowId}-video`);
        this.activeElement.classList.add('active');
        const api = new Api();
        api.setRoomActiveFeed(this.roomId, feedId);
        this.handles.streaming.data({
          text: 'ACTIVE_FEED_UPDATED',
          error: this.handleError,
        });
      }
    },
    handleError(error, timeout=2000) {
      console.error(error);
      this.error = error.message;
      if (timeout > 0) {
        setTimeout(() => {
          this.error = '';
        }, timeout);
      }
    },
    getRecordedContent() {
      const api = new Api();
      const promise = new Promise((resolve, reject) => {
        const interval = setInterval(() => {
          if (this.roomId > -1) {
            resolve(this.roomId);
          }
        }, 200);
        setTimeout(() => {
          clearInterval(interval);
          reject(Error('Timeout retreiving room details from server'));
        }, 5000);
      });
      promise.then(roomId => {
        api.talks(`room=${roomId}&has_recorded_content=true`).then(response => {
          this.recordedContent = response.data.results;
        }).catch(this.handleError);
      }).catch(this.handleError);
    },
    createWebRtcConnection() {
      const promise = new Promise((resolve, reject) => {
        const interval = setInterval(() => {
          if (this.$store.state.webrtcServer != '') {
            clearInterval(interval);
            resolve(this.$store.state.webrtcServer);
          }
        }, 200);
        setTimeout(() => {
          clearInterval(interval);
          reject(Error('Timeout retrieving WebRTC connection details from server'));
        }, 5000);
      });
      promise.then(server => {
        const onJanusInit = this.onJanusInit;
        Janus.init({ // eslint-disable-line no-undef
          debug: ['debug', 'log', 'warn', 'error'],
          callback: () => {
            onJanusInit(server, this.webrtcChannel);
          },
        });
      }).catch(this.handleError);
    },
    onJanusInit(server, room) {
      const root = this.$store.state.webrtcRoot;
      const wsroot = this.$store.state.webrtcWsRoot;
      const wss_server = `wss://${server}${wsroot}`;
      const https_server = `https://${server}${root}`;
      let servers = [wss_server, https_server];
      if (window.location.protocol === 'http:') {
        const ws_server = `ws://${server}${wsroot}`;
        const http_server = `http://${server}${root}`;
        servers = [ws_server, http_server];
      }

      this.janus = new Janus({ // eslint-disable-line no-undef
        server: servers,
        iceServers: this.$store.state.webrtcIceServers,
        success: () => {
          this.janus.attach({
            plugin: 'janus.plugin.videoroom',
            success: pluginHandle => {
              this.handles.streaming = pluginHandle;
              const data = {
                  request: 'join',
                  ptype: 'publisher',
                  room: room,
                  display: 'moderator',
              };
              this.handles.streaming.send({ message: data });
            },
            error: this.handleError,
            onmessage: (msg, jsep) => {
              if (jsep) {
                this.handles.streaming.handleRemoteJsep({ jsep: jsep });
              } else if (msg.videoroom === 'joined') {
                this.privateId = msg.private_id;
                this.onNewPublishers(room, msg.publishers);
                const data = {
                  request: 'publish',
                  audio: false,
                  video: false,
                  data: true,
                };
                this.handles.streaming.createOffer({
                  media: {
                    audioSend: false,
                    videoSend: false,
                    data: true,
                  },
                  success: jsep => {
                    this.handles.streaming.send({
                      message: data,
                      jsep: jsep,
                    });
                  },
                  error: this.handleError,
                });
              } else if (msg.videoroom === 'event' && msg.publishers) {
                this.onNewPublishers(room, msg.publishers);
              } else if (msg.videoroom === 'event' && msg.unpublished) {
                const id = msg.unpublished;
                let index = -1;
                for (let i in this.handles) {
                  if (this.handles[i].rfid === id) {
                    index = i;
                  }
                }
                if (index > -1) {
                  this.handles[index].detach()
                  const viewer = this.handles[index].videoViewer;
                  delete this.handles[index];
                  const videoElement = document.querySelector(`#${viewer}-video video`);
                  videoElement.style.display = 'none';
                  const noVideoElement = document.querySelector(`#${viewer}-video div`);
                  noVideoElement.style.display = 'block';
                }
              } else if (msg.videoroom === 'event' && msg.error_code === 436) {
                this.handleError(Error('User ID already in use. Make sure you have only one BillowConf brower tab open'), 0);
              }
            },
            ondata: data => {
              console.log(data);
            }
          });
        },
        error: this.handleError,
      });
    },
    onNewPublishers: function(room, publishers) {
      const api = new Api();
      api.room(this.roomId).then(request => {
        const videoPublisher = request.data.active_webrtc_feed;
        let activeFeed = '';
        for (let i in publishers) {
          const publisher = publishers[i];
          if (publisher.id === videoPublisher) {
            activeFeed = publisher.display;
          }
          switch (publisher.display) {
            case 'presenter':
              this.onJanusSubscribe(publisher.id, room, 'presenter');
              break;
            case 'recorded-presenter':
              this.onJanusSubscribe(publisher.id, room, 'server');
              break;
            case 'placeholder':
              this.onJanusSubscribe(publisher.id, room, 'server');
              break;
            case 'moderator':
              this.onJanusSubscribe(publisher.id, room, 'moderator');
              break;
          }
        }
        let windowId = 'server';
        switch (activeFeed) {
          case 'presenter':
            windowId = 'presenter';
            break;
          case 'recorded-presenter':
          case 'placeholder':
            windowId = 'server';
            break;
          case 'moderator':
            windowId = 'moderator';
            break;
        }
        if (this.activeElement) {
          this.activeElement.classList.remove('active');
        }
        this.activeElement = document.querySelector(`#${windowId}-video`);
        this.activeElement.classList.add('active');
      }).catch(this.handleError);
    },
    onJanusSubscribe(id, room, destination) {
      this.janus.attach({
        plugin: 'janus.plugin.videoroom',
        success: pluginHandle => {
          this.handles[id] = pluginHandle
          const data = {
            request: 'join',
            room: room,
            ptype: 'subscriber',
            feed: id,
            private_id: this.privateId,
          };
          pluginHandle.send({message: data});
        },
        onmessage: (msg, jsep) => {
          if (msg.videoroom === 'attached') {
            this.handles[id].rfid = msg.id;
            this.handles[id].videoDestination = destination;
          }
          if (jsep) {
            this.handles[id].createAnswer({
              jsep: jsep,
              media: {
                audioSend: false,
                videoSend: false,
                data: true,
              },
              success: jsep => {
                const body = {
                  request: 'start',
                  room: room,
                }
                this.handles[id].send({
                  message: body,
                  jsep: jsep,
                });
              },
            });
          }
        },
        onremotestream: stream => {
          const videoElement = document.querySelector(`#${destination}-video video`);
          videoElement.style.display = 'block';
          const noVideoElement = document.querySelector(`#${destination}-video div`);
          noVideoElement.style.display = 'none';
          Janus.attachMediaStream(videoElement, stream); // eslint-disable-line no-undef
        },
      });
    },
  },
  watch: {
    room: function() {
      if (this.handles.streaming) {
        this.handles.streaming.send({
          message: {
            request: 'leave',
          }
        });
        this.getRecordedContent();
        this.createWebRtcConnection();
      }
    },
  },
};
</script>

<style>
.active {
  border: 5px solid red;
}

.video-name {
  text-align: center;
}

.content-list .v-list {
  height: 300px;
  max-height: 300px;
}
</style>
